@import url('/src/components/header/header.css');
@import url('/src/components/hero/hero.css');
@import url('/src/components/cards/cards.css');
@import url('/src/components/concept/concept.css');
@import url('/src/components/about/about.css');
@import url('/src/components/footer/footer.css');

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}